body {
  width: 900px;
  background-image: url('wood_texture.jpg');
  padding: 30px;
}

.main {
  margin: 20px;
  width: 900px;
}

#canvas {
  border: 5px solid rgb(79, 39, 3);
  background-color: rgb(231, 130, 57);
  cursor: pointer;
  margin-left: 250px;
}

.main-title {
  background-color: rgb(60, 27, 9);
  background-image: url("darkwood.jpg");
  color: white;
  width: 400px;
  text-align: center;
  margin-left: 350px;
  border: 2px solid black;
  padding: 10px 0;
  font-size: 50px;
}

.game-board {
  margin: auto;
}
